<!DOCTYPE html>
<html>
<head>
    <title>delete categories</title>
</head>
<body>
    <h1>Are you sure you want to delete this categories?</h1>
    <ul>
            <li>{{ categories.name }}</li>
            <a href='/' >NO<a/>
            <a href='/categorie/delete/{{categories.id}}' >YES<a/>
    </ul>
</body>
</html>