{% extends 'base.html.twig' %}

{% block title %}Change your email{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('change_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Change your email</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.new_mail) }}
        <div>
            <small>
                Enter your email address, and we will send you a
                link to change your email.
            </small>
        </div>

        <button class="btn btn-primary">Send  email</button>
    {{ form_end(requestForm) }}
{% endblock %}
