{% extends 'base.html.twig' %}


{% block body %}
    {% for flash_error in app.flashes('change_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Sucessfully change the email</h1>

{% endblock %}
